<section class="section-contact" id="contact">
  <div class="container">
    <h2 class="title-contact">Contact</h2>
    <div class="container-contact">
      <div class="container-content-contact">
        <h3 class="title-contact-support">
          Need Support or Just Want to Say Hi?
        </h3>
        <p class="text-contact">
          We’d love to hear from you. <br />
          Whether you’re stuck on a level or just want to share your experience,
          we’re here.
        </p>
        <ul class="list-contact">
          <li class="item-contact">
            <svg class="icon-contact" width="24" height="24">
              <use href="./img/sprite.svg#email"></use>
            </svg>
            <p>Email: support@sparklespeedymatch.com</p>
          </li>
          <li class="item-contact">
            <svg class="icon-contact" width="24" height="24">
              <use href="./img/sprite.svg#distance"></use>
            </svg>
            <p>Studio HQ: 14 Quiet Lane, Bloom City, NL</p>
          </li>
          <li class="item-contact">
            <svg class="icon-contact" width="24" height="24">
              <use href="./img/sprite.svg#alarm"></use>
            </svg>
            <p>Hours: Mon–Fri, 10am–6pm CET</p>
          </li>
        </ul>
      </div>

      <div class="container-contact-img">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/contact/contact-pig.png    1x,
              ./img/contact/contact-pig-2x.png 2x
            "
          />
          <img
            src="./img/contact/contact-pig-mobile.png"
            alt="image pig"
            class="img-contact"
            srcset="
              ./img/contact/contact-pig-mobile.png    1x,
              ./img/contact/contact-pig-mobile-2x.png 2x
            "
          />
        </picture>
      </div>
    </div>
  </div>
</section>
