<section class="section-daily" id="daily-events">
  <div class="container">
    <h2 class="title-daily">Daily Events</h2>
    <p class="text-daily-play">Play. Earn. Enjoy the Journey.</p>
    <div class="container-daily">
      <img
        src="./img/daily-events/play.png"
        class="play-img"
        alt="play-image"
        srcset="
          ./img/daily-events/play.png    1x,
          ./img/daily-events/play-2x.png 2x
        "
      />
      <div>
        <h3 class="list-title-daily">Daily puzzle streaks</h3>
        <ul class="list-daily">
          <li class="item-daily item-daily-mark">
            3-star challenges for bonus coin rewards
          </li>
          <li class="item-daily item-daily-mark">
            Unlockable tile art after 7-day streaks
          </li>
          <li class="item-daily item-daily-mark">
            Community votes on new seasonal packs
          </li>
          <li class="item-daily item-daily-mark">
            Monthly Spring Blossom Challenge with leaderboard
          </li>
        </ul>
      </div>
      <img
        src="./img/daily-events/coin.png"
        alt="coin img"
        srcset="
          ./img/daily-events/coin.png    1x,
          ./img/daily-events/coin-2x.png 2x
        "
      />
    </div>
    <p class="text-more">The more mindful you play, the more you unlock.</p>
  </div>
</section>
