<section class="clarity" id="designed-for-clarity">
  <div class="container">
    <h2 class="clarity__title">Designed for Clarity</h2>
    <div class="clarity__content">
      <div class="clarity__text-content">
        <h3 class="clarity__subtitle">Gameplay That Respects Your Attention</h3>
        <ul class="clarity__list">
          <li class="clarity__item">
            <span class="custom-marker"></span>No cartoon clutter
          </li>
          <li class="clarity__item">
            <span class="custom-marker"></span>No forced pop-ups
          </li>
          <li class="clarity__item">
            <span class="custom-marker"></span>
            Every color and sound is selected for mental spaciousness
          </li>
          <li class="clarity__item">
            <span class="custom-marker"></span>Clean shapes, smooth animations
          </li>
          <li class="clarity__item">
            <span class="custom-marker"></span>
            Pause anytime, resume later - no penalty
          </li>
          <li class="clarity__item">
            <span class="custom-marker"></span>
            Built for thoughtful moments - not frantic swipes
          </li>
        </ul>
        <p class="clarity__bottom-text">
          Whether in a waiting room or on a mindful break, Tile Springs helps
          you breathe and think.
        </p>
      </div>
      <picture class="clarity__image">
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/designed-for-clarity/playground-desktop.png    1x,
            /img/designed-for-clarity/playground-desktop@2x.png 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /img/designed-for-clarity/playground-mobile.png    1x,
            /img/designed-for-clarity/playground-mobile@2x.png 2x
          "
        />
        <img
          src="/img/designed-for-clarity/playground-mobile.png"
          alt="playground"
        />
      </picture>
    </div>
  </div>
</section>
