<footer class="footer" id="footer">
  <div class="container">
    <div class="container-list-footer">
      <ul class="list-footer">
        <li class="item-footer">
          <a href="./privacy-policy.html" class="link-footer">Privacy Policy</a>
        </li>

        <li class="item-footer">
          <a href="./terms-and-conditions.html" class="link-footer"
            >Terms of Use</a
          >
        </li>
        <li class="item-footer">
          <a href="./cookies-policy.html" class="link-footer">Cookie Policy</a>
        </li>
      </ul>
      <p class="text-footer">
        sparklespeedymatch.com © 2025. All rights reserved.
      </p>
    </div>
    <div class="container-footer-social-networks">
      <p class="text-footer-follow">
        Follow us for tile art sneak peeks and seasonal event drops:
      </p>
      <ul class="list-social-networks">
        <li class="item-social-network">
          <a
            href="https://www.instagram.com/"
            class="link-social-network"
            target="_blank"
          >
            <svg class="icon-social-network" width="32" height="32">
              <use href="./img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item-social-network">
          <a
            href="https://www.facebook.com/"
            class="link-social-network"
            target="_blank"
          >
            <svg class="icon-social-network" width="32" height="32">
              <use href="./img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="item-social-network">
          <a href="https://x.com/" class="link-social-network" target="_blank">
            <svg class="icon-social-network" width="28" height="28">
              <use href="./img/sprite.svg#prime_twitter"></use>
            </svg>
          </a>
        </li>
        <li class="item-social-network">
          <a
            href="https://discord.com/"
            class="link-social-network"
            target="_blank"
          >
            <svg class="icon-social-network" width="32" height="32">
              <use href="./img/sprite.svg#discord"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
