<footer class="footer" id="footer">
  <div class="container">
    <ul class="list-footer">
      <li class="item-footer">
        <a href="../privacy-policy.html" class="link-footer">Privacy Policy</a>
      </li>

      <li class="item-footer">
        <a href="../terms-and-conditions.html" class="link-footer"
          >Terms of Use</a
        >
      </li>
      <li class="item-footer">
        <a href="../cookies-policy.html" class="link-footer">Cookie Policy</a>
      </li>
    </ul>
    <!-- <p class="text-test">
      <a href="../privacy-policy.html" class="link-footer">Privacy Policy</a>
      <a href="../terms-and-conditions.html" class="link-footer"
        >Terms of Use</a
      >
      <a href="../cookies-policy.html" class="link-footer">Cookie Policy</a>
    </p> -->
  </div>
</footer>
