<div class="transition-base mobile-menu__overlay" data-id="modal-overlay"></div>

<header class="header" >
  <div class="container header__container">
    <div class="header__wrap">
      <a href="#hero"><picture class="header__picture">
        <source
          srcset="
            /img/header/character-1.png    1x,
            /img/header/character-1@2x.png 2x
          "
        />
        <img
          class="header__image"
          src="/img/header/character-1.png"
          alt="farm pig"
        />
      </picture></a>
      
      <button class="header__mobile-btn" type="button" data-id="mobile-btn">
        <span class="nav-icon" data-id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
      <load src="/partials/navigation.html" />
    </div>

    <!-- MOBILE MENU -->

    <div class="mobile-menu__container" data-id="mobile-container">
      <div class="mobile-menu" data-id="mobile-menu">
        <div class="container">
          <load src="/partials/navigation.html" />
        </div>
      </div>
    </div>

  </div> 
</div>
</header>





