<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      Match Fast. Think Clean. Welcome to Tile Springs.
    </h1>
    <p class="hero__text">
      Enter the refreshing world of Tile Springs - Matching Games, a sleek and
      intuitive tile-matching game crafted for puzzle lovers who crave focus
      without fatigue. No timers. No clutter. Just a smart challenge in a breezy
      design.
    </p>
    <a
      class="hero__playstore-link"
      href="https://play.google.com/store/apps/details?id=tile.match.farm.game&hl=en&gl=us"
      target="_blank"
    >
      <svg class="hero__playstore-icon">
        <use href="./img/sprite.svg#playstore"></use>
      </svg>
      <p class="hero__button-text">Download Free on Google Play</p>
    </a>
    <video autoplay loop muted class="hero__video">
      <source
        src="/public/videos/Firefly_Whimsical_falling_leaves_animation,_cartoon_style,_colorful.mp4"
        type="video/mp4"
      />
      Your browser does not support this video format
    </video>
  </div>
</section>
