<section class="how-to-play">
  <div class="container">
    <h2 class="how-to-play__title">How to Play</h2>
    <p class="advantages-text">Simple Moves. Deep Thinking.</p>
    <ul class="how-to-play__list">
      <li class="how-to-play__item">
        <p class="how-to-play__step">1</p>
        <p class="how-to-play__description how-to-play__st-1">
          Tap a tile to move it to your holding tray
        </p>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-1-step-desktop.png    1x,
              /img/how-to-play/htp-1-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-1-step-mobile.png    1x,
              /img/how-to-play/htp-1-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-1-step-mobile.png"
            alt="moving tiles"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__step">2</p>
        <p class="how-to-play__description how-to-play__st-2">
          Match 3 of the same design to remove them
        </p>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-2-step-desktop.png    1x,
              /img/how-to-play/htp-2-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-2-step-mobile.png    1x,
              /img/how-to-play/htp-2-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-2-step-mobile.png"
            alt="matching tiles"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
