<section class="how-to-play" id="how-to-play">
  <div class="container">
    <h2 class="how-to-play__title">How to Play</h2>
    <p class="how-to-play__text--large advantages-text">
      Simple Moves. Deep Thinking.
    </p>
    <ul class="how-to-play__list">
      <li class="how-to-play__item">
        <p class="how-to-play__step">1</p>
        <div class="how-to-play__wrapper">
          <p class="how-to-play__description">
            Tap a tile to move it to your holding tray
          </p>
        </div>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-1-step-desktop.png    1x,
              /img/how-to-play/htp-1-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-1-step-mobile.png    1x,
              /img/how-to-play/htp-1-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-1-step-mobile.png"
            alt="moving tiles"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__step">2</p>
        <div class="how-to-play__wrapper">
          <p class="how-to-play__description">
            Match 3 of the same design to remove them
          </p>
        </div>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-2-step-desktop.png    1x,
              /img/how-to-play/htp-2-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-2-step-mobile.png    1x,
              /img/how-to-play/htp-2-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-2-step-mobile.png"
            alt="matching tiles"
          />
        </picture>
        <picture class="how-to-play__tile-image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-2-tile-desktop.png    1x,
              /img/how-to-play/htp-2-tile-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-2-tile-mobile.png    1x,
              /img/how-to-play/htp-2-tile-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-2-tile-mobile.png"
            alt="tile with flower"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__step">3</p>
        <div class="how-to-play__wrapper">
          <p class="how-to-play__description">
            Don't overfill the tray - that ends your round
          </p>
        </div>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-3-step-desktop.png    1x,
              /img/how-to-play/htp-3-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-3-step-mobile.png    1x,
              /img/how-to-play/htp-3-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-3-step-mobile.png"
            alt="matching tiles"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__step">4</p>
        <div class="how-to-play__wrapper">
          <p class="how-to-play__description">
            Use shuffle or undo when necessary
          </p>
        </div>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-4-step-desktop.png    1x,
              /img/how-to-play/htp-4-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-4-step-mobile.png    1x,
              /img/how-to-play/htp-4-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-4-step-mobile.png"
            alt="matching tiles"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__step">5</p>
        <div class="how-to-play__wrapper">
          <p class="how-to-play__description">
            Earn coins and stars to unlock themes and levels
          </p>
        </div>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-5-step-desktop.png    1x,
              /img/how-to-play/htp-5-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-5-step-mobile.png    1x,
              /img/how-to-play/htp-5-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-5-step-mobile.png"
            alt="matching tiles"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__step">6</p>
        <div class="how-to-play__wrapper">
          <p class="how-to-play__description">
            New tile sets are introduced as you progress
          </p>
        </div>
        <picture class="how-to-play__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/htp-6-step-desktop.png    1x,
              /img/how-to-play/htp-6-step-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/how-to-play/htp-6-step-mobile.png    1x,
              /img/how-to-play/htp-6-step-mobile@2x.png 2x
            "
          />
          <img
            src="/img/how-to-play/htp-6-step-mobile.png"
            alt="matching tiles"
          />
        </picture>
      </li>
    </ul>
    <p class="how-to-play__text--bottom advantages-text">
      From the first tap, you'll feel the satisfying flow of clean, purposeful
      motion.
    </p>
  </div>
</section>
