<section class="section-mobile-first" id="mobile-first">
  <div class="container">
    <h2 class="mf-title">Mobile First</h2>
    <h2 class="mf-anywhere">Play Anywhere, Anytime</h2>
    <div class="container-content-mobile">
      <ul class="mf-list">
        <li class="mf-item item-info">Fully offline – no internet needed</li>
        <li class="mf-item item-info">Low battery usage, light on storage</li>
        <li class="mf-item item-info">
          Compatible with all modern Android devices (5.1+)
        </li>
        <li class="mf-item item-info">Landscape & portrait support</li>
        <li class="mf-item item-info">Auto-saves after every match</li>
      </ul>
      <img
        src="./img/mobile-first/image.png"
        srcset="
          ./img/mobile-first/image.png    1x,
          ./img/mobile-first/image-2x.png 2x
        "
        alt="phone image"
      />
    </div>
  </div>
</section>
