<div class="container-cookies" data-action="cookie">
  <div class="container-content">
    <div class="container-text">
      <p class="text-cookies">
        We use <span class="span-cookie">cookies</span> to improve your
        experience on our website. <br class="enter-cookies" />
        By browsing this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="container-button">
      <button type="button" class="btn-cookies" data-action="accept">
        ACCEPT COOKIES
      </button>
      <button type="button" class="btn-cookies" data-action="decline">
        DECLINE COOKIES
      </button>
    </div>
  </div>
</div>
