<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#what-makes-it-special"
        >What&nbsp;Makes It&nbsp;Special</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#how-to-play"
        >How to Play</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#designed-for-clarity"
        >Designed for Clarity</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#relax-with-rhythm"
        >Relax with Rhythm</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#unlimited-boards"
        >Unlimited Boards</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#mobile-first"
        >Mobile First</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#visual-variety"
        >Visual Variety</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#game-insights"
        >Game Insights</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#player-voices"
        >Player Voices</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#daily-events"
        >Daily Events</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#start-playing"
        >Start Playing</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__item-link transition-base" href="#contact">Contact</a>
    </li>
  </ul>
</nav>
