<section class="relax" id="relax-with-rhythm">
  <div class="container">
    <h2 class="relax__title">Relax with Rhythm</h2>
    <p class="relax__top-text advantages-text">A Puzzle to Match Your Pace</p>
    <div class="relax__content">
      <picture class="relax__image-tile-1">
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/relax-with-rhythm/puzzle-tile-1-desktop.png    1x,
            /img/relax-with-rhythm/puzzle-tile-1-desktop@2x.png 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /img/relax-with-rhythm/puzzle-tile-1-mobile.png    1x,
            /img/relax-with-rhythm/puzzle-tile-1-mobile@2x.png 2x
          "
        />
        <img
          src="/img/relax-with-rhythm/puzzle-tile-1-mobile.png"
          alt="puzzle tile"
        />
      </picture>
      <ul class="relax__list">
        <li class="relax__item">
          <span class="custom-marker"></span>
          Let the soft transitions and spring-inspired soundscape ease your mind
        </li>
        <li class="relax__item">
          <span class="custom-marker"></span>
          Focus without interruption - great for those with anxiety or sensory
          sensitivity
        </li>
        <li class="relax__item">
          <span class="custom-marker"></span>
          A perfect companion during coffee, journaling, or even guided
          meditation
        </li>
        <li class="relax__item">
          <span class="custom-marker"></span>
          Play in silence, or let the environment play gently around you
        </li>
      </ul>
      <picture class="relax__image-tile-2">
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/relax-with-rhythm/puzzle-tile-2-desktop.png    1x,
            /img/relax-with-rhythm/puzzle-tile-2-desktop@2x.png 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /img/relax-with-rhythm/puzzle-tile-2-mobile.png    1x,
            /img/relax-with-rhythm/puzzle-tile-2-mobile@2x.png 2x
          "
        />
        <img
          src="/img/relax-with-rhythm/puzzle-tile-2-mobile.png"
          alt="puzzle tile"
        />
      </picture>
    </div>
  </div>
</section>
