<section class="section-start-playing" id="start-playing">
  <div class="container">
    <h2 class="title-start">Start Playing</h2>
    <p class="text-puzzle">
      A Puzzle That Doesn’t Shout – It Whispers “Focus.”
    </p>
    <div class="container-start">
      <div class="container-list-start">
        <ul class="list-start">
          <li class="item-start">Tap into calm cognition</li>
          <li class="item-start">Refresh your puzzle routine</li>
          <li class="item-start">Clear your tray, clear your mind</li>
        </ul>
        <div class="container-link-start">
          <a
            href="https://play.google.com/store/apps/details?id=tile.match.farm.game&hl=en&gl=us"
            class="link-start-playing"
            target="_blank"
          >
            <svg class="icon-start" width="22" height="25">
              <use href="./img/sprite.svg#playstore"></use>
            </svg>
            Download Free on Google Play
          </a>
        </div>
      </div>
      <img
        src="./img/start-playing/image-pig.png"
        alt="image-pig"
        class="img-pig-start"
        srcset="
          ./img/start-playing/image-pig.png    1x,
          ./img/start-playing/image-pig-2x.png 2x
        "
      />
    </div>
    <p class="text-start-every">
      Let every match become a moment of mindfulness.
    </p>
  </div>
</section>
