<section class="unl-boards" id="unlimited-boards">
  <div class="container">
    <h2 class="unl-boards__title">Unlimited Boards</h2>
    <p class="unl-boards__top-text advantages-text">
      The Puzzle That Keeps Giving
    </p>
    <ul class="unl-boards__list">
      <li class="unl-boards__item item-1">
        <picture class="unl-boards__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/unlimited-boards/flower-1-desktop.png    1x,
              /img/unlimited-boards/flower-1-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/unlimited-boards/flower-mobile.png    1x,
              /img/unlimited-boards/flower-mobile@2x.png 2x
            "
          />
          <img
            class="image-1"
            src="/img/unlimited-boards/flower-mobile.png"
            alt="flower"
          />
        </picture>
        <p class="unl-boards__text">1,000+ handcrafted puzzles</p>
      </li>
      <li class="unl-boards__item item-2">
        <picture class="unl-boards__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/unlimited-boards/flower-2-desktop.png    1x,
              /img/unlimited-boards/flower-2-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/unlimited-boards/flower-mobile.png    1x,
              /img/unlimited-boards/flower-mobile@2x.png 2x
            "
          />
          <img
            class="image-2"
            src="/img/unlimited-boards/flower-mobile.png"
            alt="flower"
          />
        </picture>
        <h3 class="unl-boards__text subtitle-modes">Multiple game modes:</h3>
        <ul class="unl-boards__modes">
          <li class="unl-boards__mode">Classic Match</li>
          <li class="unl-boards__mode">Zen Challenge</li>
          <li class="unl-boards__mode">Limited Moves</li>
          <li class="unl-boards__mode">Shadow Tiles</li>
        </ul>
      </li>
      <li class="unl-boards__item item-3">
        <picture class="unl-boards__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/unlimited-boards/flower-3-desktop.png    1x,
              /img/unlimited-boards/flower-3-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/unlimited-boards/flower-mobile.png    1x,
              /img/unlimited-boards/flower-mobile@2x.png 2x
            "
          />
          <img src="/img/unlimited-boards/flower-mobile.png" alt="flower" />
        </picture>
        <p class="unl-boards__text">
          Random board generator for endless variety
        </p>
      </li>
      <li class="unl-boards__item item-4">
        <picture class="unl-boards__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/unlimited-boards/flower-4-desktop.png    1x,
              /img/unlimited-boards/flower-4-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/unlimited-boards/flower-mobile.png    1x,
              /img/unlimited-boards/flower-mobile@2x.png 2x
            "
          />
          <img src="/img/unlimited-boards/flower-mobile.png" alt="flower" />
        </picture>
        <p class="unl-boards__text">
          Regular seasonal updates with exclusive tile packs
        </p>
      </li>
      <li class="unl-boards__item item-5">
        <picture class="unl-boards__image">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/unlimited-boards/flower-5-desktop.png    1x,
              /img/unlimited-boards/flower-5-desktop@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/unlimited-boards/flower-mobile.png    1x,
              /img/unlimited-boards/flower-mobile@2x.png 2x
            "
          />
          <img src="/img/unlimited-boards/flower-mobile.png" alt="flower" />
        </picture>
        <p class="unl-boards__text">
          Optional Spring Rush mode - beat the clock for a fresh edge
        </p>
      </li>
    </ul>
  </div>
</section>
