<section class="section-visual-variety" id="visual-variety">
  <div class="container">
    <h2 class="vv-title">Visual Variety</h2>
    <p class="vv-text-meet">Meet the Tiles of Spring</p>
    <ul class="vv-list">
      <li class="vv-item">
        <img
          class="vv-img"
          src="../img/visual-variety/Blur.png"
          srcset="
            ./img/visual-variety/Frame-37.png    1x,
            ./img/visual-variety/Frame-37-2x.png 2x
          "
          alt="Leafy Ferns"
        />
        <p class="vv-text">Leafy Ferns</p>
      </li>
      <li class="vv-item">
        <img
          class="vv-img"
          src="./img/visual-variety/Frame-40.png"
          srcset="
            ./img/visual-variety/Frame-40.png    1x,
            ./img/visual-variety/Frame-40-2x.png 2x
          "
          alt="Glass Crystals"
        />
        <p class="vv-text">Glass Crystals</p>
      </li>
      <li class="vv-item">
        <img
          class="vv-img"
          src="./img/visual-variety/Frame-44.png"
          srcset="
            ./img/visual-variety/Frame-44.png    1x,
            ./img/visual-variety/Frame-44-2x.png 2x
          "
          alt="Wild Flowers"
        />
        <p class="vv-text">Wild Flowers</p>
      </li>
      <li class="vv-item">
        <img
          class="vv-img"
          src="./img/visual-variety/Frame-41.png"
          srcset="
            ./img/visual-variety/Frame-41.png    1x,
            ./img/visual-variety/Frame-41-2x.png 2x
          "
          alt="Whirl Discs"
        />
        <p class="vv-text">Whirl Discs</p>
      </li>
      <li class="vv-item">
        <img
          class="vv-img"
          src="./img/visual-variety/Frame-42.png"
          srcset="
            ./img/visual-variety/Frame-42.png    1x,
            ./img/visual-variety/Frame-42-2x.png 2x
          "
          alt="Lotus Mandalas"
        />
        <p class="vv-text">Lotus Mandalas</p>
      </li>
      <li class="vv-item">
        <img
          class="vv-img"
          src="./img/visual-variety/Frame-43.png"
          srcset="
            ./img/visual-variety/Frame-43.png    1x,
            ./img/visual-variety/Frame-43-2x.png 2x
          "
          alt="Seasonal themes"
        />
        <p class="vv-text">
          Seasonal themes: Cherry Blossom, Rain Mist, Summer Dusk
        </p>
      </li>
    </ul>
    <p class="vv-text-tile">
      Tile packs are unlocked as you level up or during special events. You’ll
      never get bored of matching beauty with beauty.
    </p>
  </div>
</section>
