:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --third-color: rgba(255, 255, 255, 0.6);

  --main-bg-color: #cd6885;
  --secondary-bg-color: #d6fccd;

  --main-font: 'Mulish', sans-serif;
  --secondary-font: 'Comfortaa', sans-serif;

  --marker-size: 7px;
  --marker-gap: 7px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

h1,
h2,
.advantages-text {
  font-weight: 700;
  font-size: 30px;
  font-family: var(--secondary-font);
  text-transform: capitalize;
  text-align: center;
}

section {
  scroll-margin-top: 115px;
}

.advantages-text {
  text-transform: uppercase;
  color: var(--third-color);
}

.custom-marker {
  display: inline-block;
  width: var(--marker-size);
  height: var(--marker-size);
  background-color: var(--main-color);
  border-radius: 50%;
  margin-right: var(--marker-gap);
  vertical-align: middle;
}

.item-info {
  position: relative;
  padding-left: 20px;
}

.item-info::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  top: 10px;
  left: 3px;
}

.no-scroll {
  overflow: hidden;
}

.transition-base {
  transition: color 250ms ease, background-color 250ms ease, opacity 250ms ease,
    box-shadow 250ms ease;
}

@media screen and (min-width: 1200px) {
  h1,
  h2 {
    font-size: 40px;
  }

  section {
    scroll-margin-top: 130px;
  }

  .advantages-text {
    font-size: 52px;
  }

  .item-info {
    padding-left: 30px;
  }

  .item-info::before {
    top: 13px;
    left: 13px;
  }
}
