:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --third-color: rgba(255, 255, 255, 0.6);

  --main-bg-color: #cd6885;
  --secondary-bg-color: rgba(214, 252, 205, 0.8);

  --main-font: 'Mulish', sans-serif;
  --secondary-font: 'Comfortaa', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

h1,
h2,
.advantages-text {
  font-weight: 700;
  font-size: 30px;
  font-family: var(--secondary-font);
  text-transform: capitalize;
  text-align: center;
}

.advantages-text {
  text-transform: uppercase;
}

.transition-base {
  transition: color 250ms ease, background-color 250ms ease, opacity 250ms ease;
}

@media screen and (min-width: 1200px) {
  h1,
  h2 {
    font-size: 40px;
  }

  .advantages-text {
    font-size: 52px;
  }
}
