.clarity {
  padding-bottom: 50px;
}

.clarity__title {
  margin-bottom: 24px;
}

.clarity__text-content {
  margin-bottom: 16px;
}

.clarity__subtitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}

.clarity__list {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 16px;
}

.clarity__item {
  font-weight: 600;
  font-size: 16px;
}

.clarity__item::marker {
  font-size: 1.2em;
}

.clarity__bottom-text {
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .clarity {
    padding-bottom: 100px;
  }

  .clarity__title {
    margin-bottom: 32px;
  }

  .clarity__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .clarity__text-content {
    width: 553px;
    margin-bottom: 0;
  }

  .clarity__subtitle {
    line-height: 1.25;
  }

  .clarity__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.28;
  }

  .clarity__bottom-text {
    font-weight: 500;
    font-size: 20px;
  }
}
