.header {
  position: sticky;
  z-index: 2;
  top: 0;
  overflow: visible;
}

.header__container {
  margin-top: 24px;
  padding: 0 5px;
}

.header__wrap {
  padding: 26px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(214, 252, 205, 0.8);
}

.header__mobile-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 4px;
}

.header__menu-icon {
  fill: #1c1b1f;
}

.nav__item-link:hover {
  color: #34a853;
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    margin-top: 32px;
  }

  .header__wrap {
    padding: 33px 35px;
    border-radius: 30px;
  }

  .header__image {
    width: 60px;
  }

  .header__mobile-btn {
    display: none;
  }

  .nav {
    width: 1039px;
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    align-items: center;
  }

  .nav__item-link {
    display: block;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--secondary-color);
    line-height: 1.2;
    translate: color;
  }
}
