.hero {
  padding-bottom: 50px;
}

.hero .container {
  padding-top: 118px;
  position: relative;
  height: 588px;
}
.hero__title {
  margin-bottom: 24px;
  line-height: 1.1;
}

.hero__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 32px;
}

.hero__playstore-link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  width: 287px;
  height: 57px;
  background-color: var(--secondary-bg-color);
  transform: background-color box-shadow;
}

.hero__playstore-link:active {
  border: 1px solid #34a853;
  background-color: #aaf998;
}

.hero__playstore-icon {
  width: 22px;
  height: 25px;
}

.hero__button-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary-color);
}

.hero__video {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__blur {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(202, 202, 202, 0.1);
  color: white;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 100px;
  }

  .hero .container {
    padding: 151px 280px;
  }

  .hero__title {
    margin-bottom: 32px;
    line-height: 1.12;
  }

  .hero__text {
    margin-bottom: 48px;
  }

  .hero__playstore-link:hover,
  .hero__playstore-link:focus {
    background-color: #e5fcdf;
    box-shadow: inset 0 4px 7px 2px rgba(48, 48, 48, 0.25);
  }

  .hero__playstore-link:active {
    background-color: #c1fbb4;
    border: 1px solid #34a853;
  }

  .hero__playstore-link {
    width: 362px;
  }

  .hero__button-text {
    font-weight: 600;
    font-size: 20px;
  }
}
