.mobile-menu__container {
  overflow: hidden;
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1000px;
  pointer-events: none;
}

.mobile-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.mobile-menu .nav {
  display: block;
  padding-top: 7px;
}

.mobile-menu .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 288px;
  padding: 32px 0;
  border-radius: 20px;
  background-color: rgba(214, 252, 205, 0.8);
}

.mobile-menu .nav__item-link {
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary-color);
}

.mobile-menu .nav__item-link:active {
  color: #34a853;
}

.mobile-menu.active {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__overlay {
  position: fixed;
  top: -32px;
  z-index: 2;
  width: 100%;
  height: calc(100% + 32px);
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.mobile-menu__overlay-active {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}
