/* #region Mobile Styles */

.section-mobile-first {
  padding-bottom: 50px;
}

.mf-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.mf-anywhere {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}

.mf-list {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 15px;
}

.mf-item {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

/* #endregion Mobile Styles */

/* #region Desktop Styles */

@media screen and (min-width: 1200px) {
  .section-mobile-first {
    padding-bottom: 100px;
  }

  .mf-title {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .mf-anywhere {
    font-size: 52px;
  }

  .container-content-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mf-list {
    width: 552px;
    font-weight: 500;
    margin-bottom: 0;
  }
}

/* #endregion Desktop Styles */
